<div class="container">
    <p>si consiglia di mettere tutto nel container per non avere problema con i margini</p>
    <h2>container fisso</h2>
    <p>Unità di misura assoluta, fixed, same as the browser window Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ullam sequi, totam magnam debitis quis itaque voluptas labore aliquid eius quas ipsa iusto cum perferendis, quam odit illo
        magni laboriosam.</p>
</div>
<div class="container-fluid">
    <h2>container fluido</h2>
    <p>100% la finestra che lo contiene Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem facilis vel ex iusto molestias quae sunt mollitia, voluptatum delectus non aliquid vitae saepe, dolor ullam incidunt pariatur illum, odit reprehenderit?</p>
</div>
<div class="container-lg">
    <h2>container responsive a partire da lg</h2>
    <p>xs=noPrefix default - sm[[70% websites!!! are viewed on phone-bootstrap is mobile first]]handphone:portrait landscape(as small tablet) ;tablet:portrait landscape (as pc);monitor tabletLorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
        facilis vel ex iusto molestias quae sunt mollitia, voluptatum delectus non aliquid vitae saepe, dolor ullam incidunt pariatur illum, odit reprehenderit?usare media queries incermentali, aggiuntive senza range</p>
</div>