<h1>CREAZIONE COMPONENTI</h1>
<p>sei in app.component.html</p>
<p>Istanze di pulsante.component</p>
<pressme></pressme>
<pressme></pressme>
<pressme></pressme>
<pressme></pressme>
<pressme></pressme>
<p>istanza di main.component</p>
<p>COMPONENTE MAIN</p>
<main-comp></main-comp>
<p>istanza di prodottp.component</p>
<prodotto></prodotto>
<prodotto></prodotto>
<prodotto></prodotto>
<prodotto></prodotto>
<prodotto></prodotto>
<prodotto></prodotto>
<prodotto></prodotto>
<prodotto></prodotto>
<app-new-component></app-new-component>