<div class="container">
    <h2>Immagini</h2>
    <h3>Img 100%</h3>
    <img src="assets/img/soob.jpg" alt="" class="img-fluid">
    <h3>Img 50%</h3>
    <img src="assets/img/soob.jpg" alt="" class="img-fluid w-50">
    <h3>Thumbnail</h3>
    <p class="bg-warning">
        <img src="assets/img/thumb.jpg" alt="" class="img-fluid w-25 img-thumbnail">
        <img src="assets/img/thumb.jpg" alt="" class="img-fluid w-25 img-thumbnail">
        <img src="assets/img/thumb.jpg" alt="" class="img-fluid w-25 img-thumbnail">
        <img src="assets/img/thumb.jpg" alt="" class="img-fluid w-25 img-thumbnail">
    </p>

    <h3>immagini floating</h3>
    <!-- clearfix like overflow hidden -->
    <div class="bg-info mb-5 clearfix">
        <img src="assets/img/soob.jpg" alt="" class="img-fluid w-50 float-start me-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, temporibus cupiditate placeat amet sequi doloremque repellendus, nulla sunt, voluptate totam quidem vero dolor ex aliquid vitae illum sed aperiam modi!</p>
    </div>
    <h3>immagini affiancate</h3>
    <!-- clearfix like overflow hidden -->
    <div class="bg-info mb-5 clearfix">
        <img src="assets/img/soob.jpg" alt="" class="img-fluid w-50 ">
        <img src="assets/img/soob.jpg" alt="" class="img-fluid w-50 ">
    </div>
    <h3>immagini in collona</h3>
    <div class="row">
        <div class="col">
            <img src="assets/img/soob.jpg" alt="" class="img-fluid mb-2 ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, temporibus cupiditate placeat amet sequi doloremque repellendus, nulla sunt, voluptate totam quidem vero dolor ex aliquid vitae illum sed aperiam modi!</p>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="assets/img/soob.jpg" alt="" class="img-fluid mb-2 ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, temporibus cupiditate placeat amet sequi doloremque repellendus, nulla sunt, voluptate totam quidem vero dolor ex aliquid vitae illum sed aperiam modi!</p>

        </div>
    </div>

</div>