<h1>Applicazione in Angular</h1>
<!-- Data binding by string interpolarion, model grazie a browsermodule comunica con view -->
<h3>{{title}}</h3>
<h2>Benvenuti</h2>

<!--title:hover info /alt: if the content can be loaded or for screen readers  -->
<img id="main-img" src="assets/img/uee.jpg" alt="skislove" title="skislove">
<p>componente principale app component</p>
<p>il suo html è in app.component.html</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eligendi repellat ut, sunt voluptatum praesentium mollitia corporis temporibus. Optio reprehenderit saepe nulla assumenda voluptatem voluptates quo perspiciatis ullam accusamus beatae.</p>