<div class="container">
    <h2>collegamenti</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <a href="">LINK</a> Dolorum provident, optio ex corrupti porro esse unde voluptatem consequuntur dolorem assumenda, inventore laudantium, fuga quia perspiciatis amet fugiat aliquam aut? Animi.

    </p>
    <h3>navbar</h3>
    <nav class="nav">
        <a href="" class="nav-link">home</a>
        <a href="" class="nav-link">products</a>
        <a href="" class="nav-link">faq</a>
        <a href="" class="nav-link">links</a>
    </nav>

    <ul class="nav">

        <li href="" class="nav-item">home</li>

    </ul>

    <h3>link come pulsanti</h3>
    <a href="">link normale</a>
    <a href="" class="btn bg-primary text-light">link pulsante</a>
    <!-- same but easier -->
    <a href="" class="btn btn-primary">link pulsante</a>

    <h3>pulsanti di form</h3>
    <p>
        <input type="button" value="click here">
        <input type="button" value="click here" class="btn btn-secondary">
    </p>

    <h3>button</h3>
    <p>
        <button>click here</button>
        <button class="btn btn-info">click here</button>
    </p>
    <h3>dimensioni</h3>
    <p>
        <button class="btn btn-info btn-sm">click here</button>
        <button class="btn btn-info">click here</button>
        <button class="btn btn-info btn-lg">click here</button>
    </p>
    <!-- d-grid is used to display smth like a grid  -->
    <div class="w-25 border border-2 border-primary d-grid">
        <h4>pulsanti di livello blocco</h4>
        <button class="btn btn-info btn-block">click here</button>
    </div>
    <h3>outline btns</h3>
    <button class="btn btn-info">normale</button>
    <button class="btn btn-outline-danger">normale</button>
    <h3>btn groups</h3>
    <div class="btn-group">
        <button class="btn btn-info">1</button>
        <button class="btn btn-danger">2</button>
        <button class="btn btn-primary">3</button>
    </div>

    <p class="mb-5"></p>
</div>