<div class="container">
    <!-- elemento modulare e di blocco + usato in bootstrap, tipo le card degli e comerce -->
    <h2>Cards</h2>

    <h2>Solo testo</h2>
    <div class="card">
        <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia explicabo, dignissimos magni distinctio aperiam voluptatibus consectetur nisi facere expedita nulla fugiat fuga odit, facilis nam aliquam officiis. Excepturi, enim!</div>
    </div>

    <h2>Dimensione specifica</h2>
    <div class="card w-50">
        <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia explicabo, dignissimos magni distinctio aperiam voluptatibus consectetur nisi facere expedita nulla fugiat fuga odit, facilis nam aliquam officiis. Excepturi, enim!</div>
    </div>


    <h2>Più contenuti</h2>
    <div class="card dw-50">
        <div class="card-body">
            <h4 class="card-title">Titolo</h4>
            <h5 class="card-subtitle">Sottotitolo</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod explicabo error consequatur eaque eos dolore, itaque sunt repellat labore repellendus aperiam accusantium quam natus, magni et dolorum rerum reiciendis inventore?</p>
        </div>
    </div>

    <h2>Suddivisione in zone</h2>
    <div class="card w-50">
        <div class="card-header h2">Header</div>
        <div class="card-body">
            <div class="card-title h3">Title</div>
            <div class="card-subtitle h5">Subtitle</div>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non voluptatem eum at laudantium quis nesciunt dolores necessitatibus, in tempore omnis! Labore, inventore! Itaque delectus nisi exercitationem voluptatum ullam porro iusto!
            </p>
        </div>
        <div class="card-footer h6 text-end">Footer</div>
    </div>


    <h2>Card group (per affiancare le card)</h2>
    <div class="card-group">
        <div class="card">
            <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia explicabo, dignissimos magni distinctio aperiam voluptatibus consectetur nisi facere expedita nulla fugiat fuga odit, facilis nam aliquam officiis. Excepturi, enim!</div>
        </div>
        <div class="card">
            <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia explicabo, dignissimos magni distinctio aperiam voluptatibus consectetur nisi facere expedita nulla fugiat fuga odit, facilis nam aliquam officiis. Excepturi, enim!</div>
        </div>
        <div class="card">
            <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia explicabo, dignissimos magni distinctio aperiam voluptatibus consectetur nisi facere expedita nulla fugiat fuga odit, facilis nam aliquam officiis. Excepturi, enim!</div>
        </div>
    </div>


    <h2>Card incolonnate</h2>
    <div class="row">
        <div class="col">
            <div class="card-header">
                <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, ratione. Totam iusto ipsa exercitationem ipsum atque sequi provident, laboriosam eius rem perferendis, fugiat natus earum. Illo reprehenderit cum dolorum numquam.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-header">
                <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, ratione. Totam iusto ipsa exercitationem ipsum atque sequi provident, laboriosam eius rem perferendis, fugiat natus earum. Illo reprehenderit cum dolorum numquam.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-header">
                <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, ratione. Totam iusto ipsa exercitationem ipsum atque sequi provident, laboriosam eius rem perferendis, fugiat natus earum. Illo reprehenderit cum dolorum numquam.
                </div>
            </div>
        </div>
    </div>

    <h2>Card con immagini</h2>
    <div class="row">
        <div class="col">
            <img src="assets/img/soob.jpg" alt="" class='class-img-top img-fluid'>
            <div class="card-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, ratione. Totam iusto ipsa exercitationem ipsum atque sequi provident, laboriosam eius rem perferendis, fugiat natus earum. Illo reprehenderit cum dolorum numquam.
            </div>
        </div>
        <div class="col">
            <img src="assets/img/kai.jpg" alt="" class='class-img-top img-fluid'>
            <div class="card-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, ratione. Totam iusto ipsa exercitationem ipsum atque sequi provident, laboriosam eius rem perferendis, fugiat natus earum. Illo reprehenderit cum dolorum numquam.
            </div>
        </div>
        <div class="col">
            <img src="assets/img/soob.jpg" alt="" class='class-img-top img-fluid'>
            <div class="card-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, ratione. Totam iusto ipsa exercitationem ipsum atque sequi provident, laboriosam eius rem perferendis, fugiat natus earum. Illo reprehenderit cum dolorum numquam.
            </div>
        </div>
    </div>