<div class="container">
    <h2>Nav normale</h2>
    <div class="nav">
        <a href="" class="nav-link">one</a>
        <a href="" class="nav-link">two</a>
        <a href="" class="nav-link">three</a>
        <a href="" class="nav-link">four</a>
    </div>
    <h2>Nav centrata</h2>
    <div class="nav justify-content-center">
        <a href="" class="nav-link">one</a>
        <a href="" class="nav-link">two</a>
        <a href="" class="nav-link">three</a>
        <a href="" class="nav-link">four</a>
    </div>
    <h2>Nav distribuita</h2>
    <div class="nav nav-fill">
        <a href="" class="nav-link">one</a>
        <a href="" class="nav-link">two</a>
        <a href="" class="nav-link">three</a>
        <a href="" class="nav-link">four</a>
    </div>
</div>