<div class="container">
    <h2>Visibilità</h2>
    <h3>mostra gli elementi in base al break point</h3>
    <!-- d = class display in bootsrap d-block d-inline d-none-->
    <p class="d-none d-sm-block">paragrafo visibile da sm in poi</p>
    <p class="d-none d-md-block">paragrafo visibile da md in poi</p>
    <p class="d-none d-lg-block">paragrafo visibile da lg in poi</p>
    <p class="d-none d-xl-block">paragrafo visibile da xl in poi</p>
    <p class="d-none d-xxl-block">paragrafo visibile da xxl in poi</p>

    <h3>nasconde gli elementi in base al break point</h3>
    <p class="d-sm-none">paragrafo visibile in xs</p>
    <p class="d-none d-sm-none d-md-none">paragrafo visibile in sm</p>
    <p class="d-none d-md-none d-lg-none">paragrafo visibile in md</p>
    <p class="d-none d-lg-none d-xl-none">paragrafo visibile in lg</p>
    <p class="d-none d-xl-none d-xxl-none">paragrafo visibile in xl</p>
    <p class="d-none d-xxl-block">paragrafo visibile in xxl</p>

</div>