<div class="container">
    <h2>Colonne Avanzate</h2>
    <h3>Offset fisso</h3>
    <div class="row">
        <div class="col">box 1</div>
        <div class="col-4 offset-1">box 2</div>
        <div class="col-3 offset-1">box 3</div>
    </div>
    <h3>Offset responsive</h3>
    <div class="row row">
        <div class="col">Colonna uno</div>
        <div class="col-4 offset-lg-1">Colonna due</div>
        <div class="col-3 offset-lg-1">Colonna tre</div>
    </div>
    <h3>Row Columns</h3>
    <div class="row row-cols-2">
        <div class="col">box</div>
        <div class="col">box</div>
        <div class="col">box</div>
        <div class="col">box</div>
    </div>
    <h3>Nested Columns</h3>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">box 1</div>
                <div class="col">box 2</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">box 3</div>
                <div class="col">box 4</div>
            </div>
        </div>
    </div>
    <h3>margini automatici</h3>
    <div class="row">
        <div class="col-3">
            box 1
        </div>
        <div class="col-3 me-auto">
            box 2 <br> me-auto sbatte box 3 a destra me(nd) ms(tart)
        </div>
        <div class="col-3">
            box 3
        </div>
    </div>
    <h3>Altezze percentuali</h3>
    <div class="row" style="height: 200px;">
        <div class="col h-25">1 h-25: height:25%</div>
        <div class="col h-50">2</div>
        <div class="col h-75">3</div>
    </div>
    <p class="mb-5"></p>
</div>