<div class="container">
    <h2>Dropdown</h2>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Prodotti</button>
        <div class="dropdown-menu">
            <a href="" class="dropdown-item">Televisori</a>
            <a href="" class="dropdown-item">Pc</a>
            <a href="" class="dropdown-item">Lavatrici</a>
        </div>
    </div>
    <h2>Dropdown personalizzata</h2>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Prodotti</button>
        <div class="dropdown-menu">
            <div class="header">Elettrodomestici</div>
            <a href="" class="dropdown-item">Televisori</a>
            <a href="" class="dropdown-item active">Pc</a>
            <a href="" class="dropdown-item">Lavatrici</a>
            <div class="header">Informatica</div>
            <a href="" class="dropdown-item">Televisori</a>
            <a href="" class="dropdown-item">Pc</a>
            <a href="" class="dropdown-item">Lavatrici</a>
        </div>
    </div>
</div>