<div class="container">
    <header>✨ IL MIO SITO ✨</header>
    <nav>
        <a href="">home</a>
        <a href="">azienda</a>
        <a href="">prodotti</a>
    </nav>
    <main>
        <h1>Home Page</h1>
        <img src="assets/img/uee.jpg" alt="the_feels" title="the_feels">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos a et corporis assumenda deleniti, voluptate eaque magnam minima magni eum inventore sapiente ab libero, accusamus omnis animi ratione, optio dicta!</p>
    </main>
    <footer>Patrizia Donofrio 2021</footer>
</div>