<div class="container">
    <h2>Allineamento</h2>
    <h3 class="text-start">Sinistra</h3>
    <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam non culpa aut consectetur ab. Perferendis, aut ducimus doloribus, non sapiente cum pariatur provident ipsum corporis quos sequi illum similique ullam.</p>
    <h3 class="text-center">Centro</h3>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam non culpa aut consectetur ab. Perferendis, aut ducimus doloribus, non sapiente cum pariatur provident ipsum corporis quos sequi illum similique ullam.</p>
    <h3 class="text-end">Destra</h3>
    <p class="text-end">[like FLEXBOX cause bootsrap uses flexbox]Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam non culpa aut consectetur ab. Perferendis, aut ducimus doloribus, non sapiente cum pariatur provident ipsum corporis quos sequi illum similique
        ullam.
    </p>
</div>