<div class="container">
    <h2>Testi</h2>

    <p>Paragrafo Normale</p>
    <p class="h3">Paragrafo con lo stile di un'intestazione h3</p>
    <p class="display-1">Display</p>
    <p class="display-2">Display</p>
    <p class="display-3">Display</p>
    <p class="display-4">Display</p>
    <p class="display-5">Display</p>
    <p class="display-6">Display</p>

    <p>
        <span class="lead"> testo carino in uno span come testo di apertura</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi exercitationem a modi consequuntur magnam odit eaque architecto voluptas suscipit, explicabo voluptatem
        dicta praesentium et culpa iure placeat sapiente enim repellat!
    </p>


</div>