<div class="container">
    <h2>Spaziature</h2>
    <h3>Padding</h3>
    <!-- p = padding da 1 a 5 sui 4 lati -->
    <h3>Padding (1) molto piccolo 4 lati</h3>
    <p class="bg-warning p-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptatem dolor doloribus, voluptatum, similique impedit inventore asperiores adipisci vel aliquam magni quae eum sequi quas sit. Corporis iure voluptates at.</p>
    <h3>Padding (3) medio 4 lati</h3>
    <p class="bg-warning p-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptatem dolor doloribus, voluptatum, similique impedit inventore asperiores adipisci vel aliquam magni quae eum sequi quas sit. Corporis iure voluptates at.</p>

    <!-- pb = padding bottom -->
    <h3>Padding</h3>
    <p class="bg-warning pb-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptatem dolor doloribus, voluptatum, similique impedit inventore asperiores adipisci vel aliquam magni quae eum sequi quas sit. Corporis iure voluptates at.</p>
    <h3>Padding grande (5) a destra (end)</h3>
    <p class="bg-warning pe-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptatem dolor doloribus, voluptatum, similique impedit inventore asperiores adipisci vel aliquam magni quae eum sequi quas sit. Corporis iure voluptates at.</p>
    <h3>Padding grande (5) a destra (end)</h3>
    <p class="bg-warning px-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptatem dolor doloribus, voluptatum, similique impedit inventore asperiores adipisci vel aliquam magni quae eum sequi quas sit. Corporis iure voluptates at.</p>


    <h2>Margini</h2>
    <h3>Margine medio sui 4 lati</h3>
    <p>par normale</p>
    <p class="bg-warning m-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptatem dolor doloribus, voluptatum, similique impedit inventore asperiores adipisci vel aliquam magni quae eum sequi quas sit. Corporis iure voluptates at.</p>
    <p>par normale</p>
</div>