    .container {
        width: 500px;
        height: 500px;
        border-radius: 25px;
        border: 2px solid black;
        padding: 25px;
    }
    
    img {
        float: left;
        width: 230px;
        height: auto;
        margin-right: 30px;
    }
    
    .info-dip {
        padding-left: 25px;
        width: 200px;
        float: right;
    }
    
    .box-title {
        font-weight: 600;
    }