<div class="container">
    <h2>Colori</h2>
    <h2 class="bg-primary">Colore Primary</h2>
    <p class="text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cupiditate neque nostrum explicabo enim dolorum quo sequi doloremque assumenda nihil. Cumque dignissimos, deleniti ad id dicta illum dolores eius voluptatem.</p>
    <h2 class="bg-secondary">Colore Primary</h2>
    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cupiditate neque nostrum explicabo enim dolorum quo sequi doloremque assumenda nihil. Cumque dignissimos, deleniti ad id dicta illum dolores eius voluptatem.</p>
    <h2 class="bg-success">Colore Primary</h2>
    <p class="text-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cupiditate neque nostrum explicabo enim dolorum quo sequi doloremque assumenda nihil. Cumque dignissimos, deleniti ad id dicta illum dolores eius voluptatem.</p>
    <h2 class="bg-warning">Colore Primary</h2>
    <p class="text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cupiditate neque nostrum explicabo enim dolorum quo sequi doloremque assumenda nihil. Cumque dignissimos, deleniti ad id dicta illum dolores eius voluptatem.</p>
    <h2 class="bg-danger">Colore Primary</h2>
    <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cupiditate neque nostrum explicabo enim dolorum quo sequi doloremque assumenda nihil. Cumque dignissimos, deleniti ad id dicta illum dolores eius voluptatem.</p>
    <h2 class="bg-info">Colore Primary</h2>
    <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cupiditate neque nostrum explicabo enim dolorum quo sequi doloremque assumenda nihil. Cumque dignissimos, deleniti ad id dicta illum dolores eius voluptatem.</p>
    <h2 class="bg-dark text-light">Sfondo Dark</h2>
    <p class="bg-dark text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cupiditate neque nostrum explicabo enim dolorum quo sequi doloremque assumenda nihil. Cumque dignissimos, deleniti ad id dicta illum dolores eius voluptatem.</p>
</div>