<div class="container">
    <h2>Bordi</h2>
    <p class="border border-primary">
        PARAGRAFO CON BORDO STANDARD
    </p>
    <p class="border border-primary border-1">
        PARAGRAFO CON BORDO STANDARD fine
    </p>
    <p class="border border-primary border-3">
        PARAGRAFO CON BORDO STANDARD medio
    </p>
    <p class="border border-primary border-5">
        PARAGRAFO CON BORDO STANDARD spesso
    </p>
    <p>
        paragrafo con span <span class="border border-3"> con bordo</span>racchiuso
    </p>

</div>