div {
    overflow: hidden;
    padding: 1.5em;
    margin: 2em;
}

img {
    float: left;
    width: 200px;
    height: auto;
    margin: 0 auto;
    padding-left: none;
}

p {
    height: 3em;
    font-weight: 600;
}