<div class="container">
    <h2>Colonne</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, totam ad tempora porro corporis fugit eos quasi, eaque necessitatibus molestiae dolores corrupti nesciunt cumque deleniti, sint beatae iste sit tenetur!</p>
    <h2>Colonne automatiche</h2>
    <div class="row">
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus, fugit minus qui unde molestias corporis aliquid expedita eligendi in! Reiciendis, repellat a provident deserunt iusto atque.</p>
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus, fugit minus qui unde molestias corporis aliquid expedita eligendi in! Reiciendis, repellat a provident deserunt iusto atque.</p>
    </div>
    <div class="row">
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus, fugit minus qui unde molestias corporis aliquid expedita eligendi in! Reiciendis, repellat a provident deserunt iusto atque.</p>
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus, fugit minus qui unde molestias corporis aliquid expedita eligendi in! Reiciendis, repellat a provident deserunt iusto atque.</p>
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus, fugit minus qui unde molestias corporis aliquid expedita eligendi in! Reiciendis, repellat a provident deserunt iusto atque.</p>
    </div>

    <h2>Colonne fisse</h2>
    <div class="row">
        <p class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus, fugit minus qui unde molestias corporis aliquid expedita eligendi in! Reiciendis, repellat a provident deserunt iusto atque.</p>
        <p class="col-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus.</p>
    </div>

    <h2>Colonne responsive</h2>
    <div class="row">
        <!--diventa col solo se la grandezza dello schermo è md-->
        <p class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus, fugit minus qui unde molestias corporis aliquid expedita eligendi in! Reiciendis, repellat a provident deserunt iusto atque.</p>
        <p class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos sed quos ducimus, fugit minus qui unde molestias corporis aliquid expedita eligendi in! Reiciendis, repellat a provident deserunt iusto atque.</p>
    </div>
</div>